<div class='attendance-wrapper'>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Attendance</th>
      <th scope="col">Email</th>
      <th scope="col">Book</th>
      <th scope="col">Comment</th>
      <th scope='col'>Allergy</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <% @attendances.each do |attendance| %>
  <tbody>
    <tr>
      <td><%= attendance.id %></td>
      <td><%= attendance.name %></td>
      <td><%= attendance.come %></td>
      <td><%= attendance.email %></td>
      <td><%= attendance.book %></td>
      <td><%= attendance.content %></td>
      <td><%= attendance.allergy %></td>
      <td><%= link_to "Update","/attendance/update/#{attendance.id}" %></td>
      <td><%= link_to "Delete","/attendance/delete/#{attendance.id}", method: :post, data: { confirm:"Are you sure?"} %> </td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
